.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.git
.gitignore

data/uploads
data/dicom_uploads

outputs

*.nii
*.nii.gz
*.dcm

.env
.env.*

.vscode
.idea

*.png
*.jpg
*.jpeg