# Python
__pycache__/
*.py[cod]
.venv/

# Data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model weights
models/**/*.pt
models/**/*.pth
models/**/*.onnx

# Outputs
outputs/
evaluation/results/

# OS / VS Code
.vscode/
.DS_Store
